#contenido{
    /*background-color: #6c1d45;*/
    background-image: linear-gradient(white, #6c1d45);
    border-radius: 10px;
    color: #4b4b4b;
    margin-top: 5%;
}

p{
    text-align: justify;
}

.btn-registro{
    background-color: white;
    margin: 0px 3% 3% 3%;
    padding: 2% 5% 2% 5%;
    border-radius: 50px;
    text-align: center;
}

.reg-arrow{
    border-radius: 50%;
    padding: 0px 4px 2px 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.horas{
    background-color: rgb(233, 233, 233);
    text-align: center;
    height: 100px;
    font-size: 2em;
    margin-bottom: 15%;
}

@media(max-width: 576px){
    .btn-registro{
        font-size: 0.7em;
        padding: 2% 6% 2% 6%;
    }
}